%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info]}.

{deps, [
        {ejson, "0.1.0",
            {git,"http://github.com/benoitc/ejson.git",
                                      {branch, "master"}}},
         %% ibrowse for doing HTTP requests
         {ibrowse, "3.0.4", {git, "git://github.com/cmullaparthi/ibrowse",
                             {tag, "v3.0.4"}}}         
       ]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
